<div class="details-flex">
  <section class="details-container">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <h3>Add Listing</h3>
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        placeholder="John Doe"
      />
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="example@example.com"
      />
      <label for="message">Message</label>
      <textarea
        id="message"
        formControlName="message"
        placeholder="Your message goes here."
      ></textarea>
      <button type="submit" [disabled]="!contactForm.valid">Apply now</button>
    </form>
    <div class="details">
      <img
        [src]="listing?.photo"
        loading="lazy"
        alt="This is the {{ listing?.name }} in {{ listing?.city }}."
      />
      <h2>{{ listing?.name }}</h2>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-geo-alt-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
          /></svg
        >{{ listing?.city }}
      </p>
      <h3>About this house</h3>
      <p>Price: {{ listing?.price }}/m</p>
      <p>Laundry: {{ listing?.laundry }}</p>
      <p>Wi-Fi: {{ listing?.wifi }}</p>
    </div>
  </section>
</div>
