<div class="add-flex">
  <section class="add-container">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <h3>Add Listing</h3>
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        placeholder="Apartment"
      />
      <label for="city">City</label>
      <input
        type="text"
        id="city"
        formControlName="city"
        placeholder="Athens"
      />
      <label for="phot">Photo Url</label>
      <input
        type="text"
        id="photo"
        formControlName="photo"
        placeholder="Photo"
      />
      <label for="price">Price</label>
      <input
        type="number"
        id="price"
        formControlName="price"
        placeholder="100"
      />
      <div class="checkbox">
        <label for="wifi"
          >Wifi <input type="checkbox" id="wifi" formControlName="wifi" />
        </label>
        <label for="laundry"
          >Laundry
          <input type="checkbox" id="laundry" formControlName="laundry" />
        </label>
      </div>

      <div>
        <button type="submit" [disabled]="!addForm.valid">Save</button>
        <button type="button" class="cancelBtn" [routerLink]="'/edit'">Cancel</button>
      </div>
    </form>
  </section>
</div>
