<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-4 col-md-4" style="padding: 0">
      <div
        class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary"
        style="max-width: 380px"
      >
        <div
          class="d-flex align-items-center justify-content-between flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom"
        >
          <span class="fs-5 fw-semibold">Edit Listings</span>
          <a [routerLink]="['/add']"
            ><button class="btn">
              <i class="bi bi-plus-lg" style="margin-right: 8px"></i>Add Listing
            </button></a
          >
        </div>
        <div
          class="list-group list-group-flush border-bottom scrollarea"
          style="max-height: 100vh; overflow: scroll"
        >
          @for (listing of listings; track $index) {
            <a
              [routerLink]="['/edit', listing.id]"
              routerLinkActive="custom-active"
              class="list-group-item list-group-item-action py-3 lh-sm"
              aria-current="true"
            >
              <div
                class="d-flex w-100 align-items-center justify-content-between"
              >
                <strong class="mb-1">{{ listing.name }}</strong>
                <small
                  ><i class="bi bi-geo-alt-fill"></i>{{ listing.city }}</small
                >
              </div>
              <div class="col-10 mb-1 small">Price: {{ listing.price }}/m</div>
              <img
                [src]="listing.photo"
                alt="listing.name"
                width="100px"
                height="50px"
                style="border-radius: 4px; object-fit: cover"
              />
            </a>
          }
        </div>
      </div>
    </div>
    <div class="col-8 col-md-6 mt-2" style="padding: 0; margin-left: 32px">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="mb-4">
        <h3>Edit Listing</h3>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Apartment"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="city" class="form-label">City</label>
          <input
            type="text"
            id="city"
            formControlName="city"
            placeholder="Athens"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="photo" class="form-label">Photo Url</label>
          <input
            type="text"
            id="photo"
            formControlName="photo"
            placeholder="Photo"
            class="form-control"
            (change)="updateImagePreview()"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Image Preview</label>
          <br />
          <img
            [src]="
              editForm.get('photo')?.value
                ? editForm.get('photo')?.value
                : 'https://via.placeholder.com/300x200.png'
            "
            class="img-fluid"
            alt="Image Preview"
            width="300px"
            height="200px"
          />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            id="price"
            formControlName="price"
            placeholder="100"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="wifi"
              formControlName="wifi"
            />
            <label class="form-check-label" for="wifi">Wifi</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="laundry"
              formControlName="laundry"
            />
            <label class="form-check-label" for="laundry">Laundry</label>
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button
            type="submit"
            [disabled]="!editForm.valid"
            class="btn btn-save"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteListing()"
          >
            Delete
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
