a {
    text-decoration: none;
}

button {
    padding: 10px;
    border: solid 1px #a01dc5;
    background: #a01dc5;
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background: #8e1bbf;
    cursor: pointer;
}

button svg {
    margin-right: 8px;
}

.edit-flex {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a11dc520;
    border-radius: 20px;
    padding: 8px;
    padding-bottom: 30px;
    max-width: 550px;
    max-height: 500px;
    overflow: auto;
}

.edit ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.edit li {
    margin: 0;
}

.edit li a {
    text-decoration: none;
}

.listing-select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header"
        "p1 img"
        "p2 img";
    padding: 20px;
    background-color: #a11dc520;
    border-radius: 20px;
}

.edit h3,
.edit h4 {
    margin: 0;
    padding: 10px;
    color: #a11dc5;
}

.edit h4 {
    grid-area: header;
}

.edit img {
    max-height: 70px;
    width: 140px;
    border-radius: 5px;
    grid-area: img;
}

.edit p {
    padding: 10px;
    margin: 0;
    color: black;
    font-weight: normal;
}

.p1 {
    grid-area: p1;
}

.p2 {
    grid-area: p2;
}

.edit svg {
    color: #a11dc5;
}

.edit a {
    padding: 10px;
    margin: 0;
    text-decoration: underline;
    color: #a11dc5;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a11dc520;
    border-radius: 20px;
    padding-bottom: 30px;
    max-width: 550px;
}

form h3 {
    color: #a11dc5;
}

form input {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    min-width: 250px;
}

form .checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form .checkbox label {
    margin: 10px;
}

form .checkbox label input {
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    border: none;
    min-width: 0;
}

form button {
    margin: 20px;
    padding: 10px 26px;
    border-radius: 10px;
    border: none;
    background-color: #a11dc5;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: #8e1bbf;
}

form button:disabled {
    background-color: #636363;
    color: white;
    cursor: not-allowed;
}

@media (min-width: 1024px) {
    .edit-container {
        grid-template-columns: 1fr 1fr;
    }

    .edit {
        width: 500px;
    }

    form {
        width: 500px;
    }
}