<header>
  <a [routerLink]="['/']" style="cursor: pointer"
    ><img
      class="brand-logo"
      src="../assets/house-logo.png"
      loading="lazy"
      alt="brand logo"
      width="180px"
      height="50px"
  /></a>
  <nav>
    <ul>
      <li>
        <a
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a [routerLink]="['/edit']" routerLinkActive="active">Edit Listings</a>
      </li>
    </ul>
  </nav>
</header>
<section class="content">
  <router-outlet></router-outlet>
</section>