/* header {
    padding: 12px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    display: block;
    color: #a01dc5;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #8e1bbf;
}

nav a.active {
    color: #8e1bbf;
    text-decoration: underline;
}

.brand-logo {
    float: left;
    margin-right: 10px;
}

.content {
    padding: 12px;
}

@media (min-width: 478px) {

    header {
        flex-direction: row;
        align-items: normal;
        justify-content: normal;
    }

    nav {
        margin-left: auto;
    }
} */

.custom-active {
    color: #a01dc5;
}