div.navbar {
    margin: 0;
}

button {
    border: solid 1px #a01dc5;
    background-color: #a01dc5;
    color: white;
}


button:hover {
    background: #8e1bbf;
    color: white;
    cursor: pointer;
}

@media (min-width: 1920px) {
    .col-4k-2 {
        flex: 0 0 auto;
        width: 16%;
    }
}